:root {
  --base-font-size: 100%;
  --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-body-strong-weight: 600;
  --font-content-line-height: 1.75;
  --form-elem-height: 2rem;
  --type-emphasis-m: var(--font-body-strong-weight) var(--type-smaller-font-size) /1.23 var(--font-body);
  --type-smaller-font-size: 0.833rem;
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
  }
}

html {
  scroll-behavior: smooth;;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-body);
  font-size: 100%;
  font-size: var(--base-font-fize);
  line-height: 1.75;
  line-height: var(--font-content-line-height);
  text-rendering: optimizeSpeed;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  /* ensures that the dark bacground color will
  cover the whole height of the viewport */
  min-height: 100vh; 
  line-height: 1.5;
}

.button {
  --button-height: var(--form-elem-height, 2rem);
}

.dark {
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --text-primary: #fff;
  --text-secondary: #cdcdcd;
}

.light {
  --background-primary: #fff;
  --background-secondary: #f9f9fb;
  --background-tertiary: #fff;
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}
.button, button {
  appearance: none;
  background: none;
  border: none;
}
.button.action {
  --button-bg: transparent;
  --button-border-color: var(--text-secondary);
  --button-color: var(--text-secondary);
}
.button.action.has-icon {
  --button-font: var(--type-emphasis-m);
}
.button-wrap {
  align-items: center;
  background-color: var(--button-bg);
  color: var(--button-color);
  display: flex;
  font: var(--button-font);
  gap: 0.25rem;
  justify-content: center;
  position: relative;
}