@import "./reset.css";

:root {
  --brand-color-black: #1b1b1b;
  --brand-color-black-10: #343434;
  --brand-color-black-20: #4e4e4e;
  --brand-color-black-30: #cdcdcd;
  --brand-color-pink: #f7adaf;
  --brand-color-primary: var(--brand-color-black);
  --brand-color-secondary: var(--brand-color-black-10);
  --base-font-size: 100%;
  --font-fallback: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-body-strong-weight: 600;
  --font-weight-black: 900;
  --line-height-xs: 1;
  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;
  --form-elem-height: 2rem;
  --spacing-sizing-base: 16px;
  --spacing-sizing-025: calc(var(--spacing-sizing-base) / 4);
  --spacing-sizing-05: calc(var(--spacing-sizing-base) / 2);
  --spacing-sizing-075: calc(var(--spacing-sizing-base) * 0.75);
  --spacing-sizing-1\.5: calc(var(--spacing-sizing-base) * 1.5);
  --spacing-sizing-2: calc(var(--spacing-sizing-base) * 2);
  --spacing-sizing-3: calc(var(--spacing-sizing-base) * 3);
  --spacing-sizing-4: calc(var(--spacing-sizing-base) * 4);
  --spacing-sizing-5: calc(var(--spacing-sizing-base) * 5);
  --space-md: calc(var(--spacing-sizing-base) * 1.25);
  --space-lg: calc(var(--spacing-sizing-base) * 2);
  --gutter-sm: calc(var(--spacing-sizing-075) * 2);
  --gutter-md: calc(var(--spacing-sizing-1\.5) * 2);
  --text-base: var(--spacing-sizing-base);
  --text-xs: calc(var(--spacing-sizing-base) * 0.75);
  --text-sm: calc(var(--spacing-sizing-base) * 0.875);
  --text-md: calc(var(--spacing-sizing-base) * 1.25);
  --text-xl: var(--spacing-sizing-1\.5);
  --text-md: var(--spacing-sizing-1\.5);
  --text-xxl: var(--spacing-sizing-3);
  --type-emphasis-m: var(--font-body-strong-weight) var(--type-smaller-font-size) /1.23 var(--font-body);
  --type-smaller-font-size: 0.833rem;
  --width-base: 1180px;
  --width-content-max: 1240px;
  --width-md: 1000px;
  --width-md-10-col: 980px;
}


@media (min-width: 760px) {
  :root {
    --text-xxl: var(--spacing-sizing-3);
  }
}

@media (min-width: 1000px) {
  :root {
    --text-base: calc(var(--spacing-sizing-base) * 1.125);
    --text-xs: calc(var(--spacing-sizing-base) * 0.875);
    --text-sm: var(--spacing-sizing-base);
    --text-md: calc(var(--spacing-sizing-base) * 1.5);
    --text-xl: var(--spacing-sizing-2);
    --text-xxl: var(--spacing-sizing-4);
  }
}
@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --background-primary: #e8d9cf;
    --background-secondary: #f9f9fb;
    --background-tertiary: #fff;
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
    --background-tertiary: #4e4e4e;
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
  }
}

.dark {
  --brand-color-secondary: var(--brand-color-black-30);
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --text-primary: #fff;
  --text-secondary: #cdcdcd;
}

/* BASE */

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-body);
  line-height: var(--line-height-lg);
  text-rendering: optimizeSpeed;
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

button {
  color: var(--text-secondary);
  cursor: pointer;
}

/* LAYOUT  */

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}
.l-block {
  --pad-vt: var(--spacing-sizing-2);
  padding-top: var(--pad-vt);
  padding-bottom: var(--pad-vt);
}
@media (min-width: 1000px) {
  .l-block {
    --pad-vt: var(--spacing-sizing-5);
  }
}
.l-block--no-pad-top {
  padding-top: 0;
}
.l-container--base, .l-container--10-of-12, .l-container--8-of-12 { 
  box-sizing: content-box;
}
.l-container {
  margin-left: auto;
  margin-right: auto;
  --space-hz: var(--spacing-sizing-1\.5);
}
.l-container, .l-footer {
  padding-left: var(--space-hz);
  padding-right: var(--space-hz);
}
.l-container--10-of-12 {
  padding-left: var(--space-hz);
  padding-right: var(--space-hz);
}
@media (min-width: 1000px) {
  .l-container {
    --space-hz: var(--spacing-sizing-2);
  }
}
.l-container--base {
  max-width: 1180px;
  max-width: var(--width-base);
}
@media (min-width: 1240px) {
  .l-container--base {
    padding-left: calc((100vw - var(--width-base)) / 2);
    padding-right: calc((100vw - var(--width-base)) / 2);
  }
}
@media (min-width: 1040px) {
  .l-container--10-of-12 {
    padding-right: calc((100vw - var(--width-md-10-col)) / 2);
    padding-left: calc((100vw - var(--width-md-10-col)) / 2);
  }
}

.l-main {
  overflow-x: hidden;
}
.l-footer {
  --space-hz: var(--spacing-sizing-1\.5);
}
@media (min-width: 1240px) {
  .l-footer {
    --space-hz: calc((100vw - var(--width-base)) / 2);
  }
}

.top-nav-container {
  --height-top-nav: var(--spacing-sizing-4);
  max-width: var(--width-content-max);
  padding-top: var(--spacing-sizing-2);
}
@media (min-width: 1000px) {
  .top-nav-container {
    padding-left: var(--spacing-sizing-2);
    padding-right: var(--spacing-sizing-2)
  }
}
.t-footer-link {
  font-size: 1.25rem;
  font-size: var(--text-sm);
}
.t-footer-nav-group-title {
  font-size: var(--text-xs);
  font-style: italic;
}
.t-heading {
  font-size: var(--text-xxl);
}
.t-new-body {
  font-size: var(--text-base);
}
.t-new-subhead {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-black);
}
.top-nav-logo-link {
  max-height: var(--height-top-nav);
}
.top-nav-logo-link img {
  height: var(--height-top-nav);
  max-width: 100%;
  width: auto;
}
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.footer-nav-group {
  grid-column: 1 / span 6;
}
@media (min-width: 760px) {
  .footer-nav-group {
    grid-column: auto / span 3;
  }
}
/* .long-nav {
  display: flex;
  align-items: ;
} */

.button {
  --button-height: var(--form-elem-height, 2rem);
}

.dark {
  --brand-color-secondary: var(--brand-color-black-30);
}
.light {
  --background-primary: #e8d9cf;
  --background-secondary: #f9f9fb;
  --background-tertiary: #fff;
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}
.button, button {
  appearance: none;
  background: none;
  border: none;
}
.button.action {
  --button-bg: transparent;
  --button-border-color: var(--text-secondary);
  --button-color: var(--text-secondary);
}
.button.action.has-icon {
  --button-font: var(--type-emphasis-m);
}
.button-wrap {
  align-items: center;
  background-color: var(--button-bg);
  color: var(--button-color);
  display: flex;
  font: var(--button-font);
  gap: 0.25rem;
  justify-content: center;
  position: relative;
}