---
import BaseLayout from "../layouts/BaseLayout.astro"
import Intro from "../components/Intro.astro"
import HomeCollection from "../components/HomeCollection.astro";

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<div class="l-block l-container l-container--10-of-12 hero hero--grid home-hero">
		<Intro />
	</div>
	<section class="l-block l-block--no-pad-top l-container l-container--base">
		<HomeCollection />
	</section>
</BaseLayout>
