---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro"
import logo from "../../public/beginners-luckraft-logo.png"
---
<header class="top-navigation">
  <div class="top-nav-container long-container">
    <div class="top-nav-logo">
      <a href="/" class="top-nav-logo-link">
        <img src={logo} alt="Beginner's Luckraft logo" />
      </a>
    </div>
      <!-- <Hamburger /> -->
      <Navigation />
    <ThemeSwitcher />
  </div>
</header>

<style>
</style>