---
import { Icon } from "astro-icon"
---
<div>
  <h2 class="t-new-subhead">Free patterns for any 
    <span class="highlight-container">
      <span class="highlight">
        <Icon name="squiggle" />
      </span>yarn weight
    </span>
  </h2>
</div>

<style>
  .highlight-container {
    position: relative;
  }
  .highlight {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 140%;
  }
  .highlight svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
</style>