---
import { Icon } from "astro-icon"
import squiggle from "../icons/squiggle.svg"
const squiggleUrl = `url("${squiggle}")`
---
<div>
  <h2 class="t-heading">Free patterns
    <!-- <span class="highlight-container">
      <span class="highlight">
        <Icon name="squiggle" />
      </span>yarn weight
    </span> -->
  </h2>
  <p>Knit with any <span class="highlight-text">yarn weight
  </span>, using <span class="highlight-text">your own gauge
  </span>.</p>
</div>

<style define:vars={{ squiggleUrl }}>
  .highlight-container {
    position: relative;
  }
  .highlight {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 140%;
  }
  .highlight svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  [astro-icon] path {
    fill: var(--brand-color-pink);
  }
  .highlight-text {
    background-image: var(--squiggleUrl);
    background-position-y: 100%;
    background-repeat: no-repeat;
    padding-bottom: var(--spacing-sizing-075);
  }
</style>