---
---
<div class="nav-links">
  <a href="/" class="top-level-entry">Home</a>
  <a href="/about/" class="top-level-entry">About</a>
  <a href="/blog" class="top-level-entry">Blog</a>
  <a href="/tags" class="top-level-entry">Tags</a>
</div>

<style>
  .top-level-entry {
    color: var(--text-secondary);
  }
</style>