---
---
<nav class="site-nav long-nav">
<ul class="top-nav-links">
  <li>
    <a href="/" class="top-level-entry">Free patterns</a>
  </li>
  <li>
    <a href="/about/" class="top-level-entry">Blog</a>
  </li>
  <li>
    <a href="/blog" class="top-level-entry">Gallery</a>
  </li>
  <li>
    <a href="/tags" class="top-level-entry">Support</a>
  </li>
  <li>
    <a href="/tags" class="top-level-entry">Contact</a> 
  </li>
</ul>
</nav>

<style>
  .top-level-entry {
    color: var(--text-secondary);
  }
  .top-navigation-main {
    align-items: center;
    display: flex;
    justify-content: center;
  }
</style>