---
import Layout from "@layouts/Layout.astro"
const { post } = Astro.props
const { title, coverImage } = post.data
const { Content } = await post.render()
let resolvedCoverImage = null
const matchImportFromPublicDirReg = /\.\/public/g
const matchImportFromPublicDir = matchImportFromPublicDirReg.exec(coverImage)
if (matchImportFromPublicDir) {
  resolvedCoverImage = coverImage.slice(matchImportFromPublicDir.index + matchImportFromPublicDir[0].length)
}
const ogUrl = new URL(resolvedCoverImage ? resolvedCoverImage : `v-neck-raglan-sweater.jpeg`, Astro.url.origin).href
---
<Layout title={title} ogImage={ogUrl}>
  <main>
    <h1>{title}</h1>
    <article>
      <Content />
    </article>
  </main>
</Layout>
