---
import { Image } from "@astrojs/image/components"
import "@fontsource/inter/900.css"
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
const { post } = Astro.props
const { title, coverImage } = post.data
const { Content } = await post.render()
let resolvedCoverImage = coverImage ?? `/v-neck-raglan-sweater.jpeg`
const matchImportFromPublicDirReg = /\.\/public/g
const matchImportFromPublicDir = matchImportFromPublicDirReg.exec(coverImage)
if (matchImportFromPublicDir) {
  resolvedCoverImage = coverImage.slice(matchImportFromPublicDir.index + matchImportFromPublicDir[0].length)
}
const ogUrl = new URL(resolvedCoverImage, Astro.url.origin).href
---
<Layout title={title} ogImage={ogUrl}>
  <Header />
  <main>
    <section class="l-container l-container--10-of-12">
      <article>
        <div class="blog-section blog-section--current">
          <div class="blog-post__headline">
            <h1 class="t-blog-title">{title}</h1>
          </div>
          <div class="blog-post__hero-image">
            <Image src={resolvedCoverImage} alt="" width={600} aspectRatio="3:2" />
          </div>
        </div>
      <Content />
      </article>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .blog-section {
    --space-vt: var(--spacing-sizing-2);
    padding-top: var(--space-vt);
    padding-bottom: var(--space-vt);
  }
  @media (min-width: 1000px) {
    .blog-section {
      --space-vt: var(--spacing-sizing-3);
    }
  }
  @media (min-width: 1240px) {
    .blog-section {
      --space-vt: var(--spacing-sizing-4);
    }
  }
  @media (min-width: 760px) {
    .blog-section--current {
      display: grid;
      grid-template-columns: [left-edge] 1fr [center] 1fr [right-edge];
      column-gap: var(--space-md);
    }
  }
  .blog-post__headline {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg)
  }
</style>