---
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
const { post } = Astro.props
const { title, coverImage } = post.data
const { Content } = await post.render()
let resolvedCoverImage = coverImage
const matchImportFromPublicDirReg = /\.\/public/g
const matchImportFromPublicDir = matchImportFromPublicDirReg.exec(coverImage)
if (matchImportFromPublicDir) {
  resolvedCoverImage = coverImage.slice(matchImportFromPublicDir.index + matchImportFromPublicDir[0].length)
}
const ogUrl = new URL(resolvedCoverImage ? resolvedCoverImage : `v-neck-raglan-sweater.jpeg`, Astro.url.origin).href
---
<Layout title={title} ogImage={ogUrl}>
  <Header />
  <main>
    <section class="l-container l-container--10-of-12 blog-section">
      <h1>{title}</h1>
      <article>
        <Content />
      </article>
    </section>
  </main>
  <Footer />
</Layout>
